*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 40px;
}

h1{
    text-align: center;
    padding:20px;
    font-size:40px;
}
a,h1{
    color:white;
}

body{
    background-color: green;
}

li{
    text-align:center;
    list-style: none;
    margin-bottom: 40px;
    padding:20px
}

.jollof-rice{
    margin-top:20px;
}

div{
    border: 2px dotted rgb(241, 185, 107);
    inline-size:400px;
    margin: 0 auto;
}

